ion-card-content {
    ion-list {
      ion-item {
        ion-label {
          display: block;
          width: 100%;
          h2 {
            font-size: 1.1em;
            font-weight: bold;
          }
          p {
            font-size: 0.9em;
            margin-top: 5px;
          }
        }
      }
    }
  }