<ion-header [translucent]="true">
  <ion-toolbar color="dark">
    <ion-button (click)="back()" slot="start" color="medium">
      <ion-icon name="chevron-back-outline"></ion-icon>
    </ion-button>
    <ion-title>Crear cuenta</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true">

  <div style="display: flex; justify-content: center; margin-bottom: 20px;">
    <img src="assets/image/tecnohw.png" alt="Logo de la empresa" width="300px" height="205px">
  </div>

  <div class="container">
    <ion-input [(ngModel)]="email"
  type="email"
  fill="solid"
  label="Email"
  labelPlacement="floating">
</ion-input>
  </div>
  <div class="container">
    <ion-input [(ngModel)]="password"
  type="password"
  fill="solid"
  label="Password"
  labelPlacement="floating">
</ion-input>
  </div>
  <div class="container">
    <ion-button color="primary" shape="round" (click)="registro()">Aceptar</ion-button>
  </div>
</ion-content>
